.card {
  background-color: var(--mantine-color-body);
}

.group {
  flex-direction: row;

  @media (max-width: 572px) {
    flex-direction: column;
  }
}

.imageWrapper {
  min-width: 200px;
  min-height: 120px;
  position: relative;
  align-self: stretch;
}

.tagsOverlay {
  position: absolute;
  bottom: var(--mantine-spacing-xs);
  right: var(--mantine-spacing-xs);
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-xs);
  z-index: 1;
  pointer-events: all;
  cursor: pointer;
}

.body {
  padding: var(--mantine-spacing-md);
  flex-grow: 1;
}
